@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Orbitron:wght@700&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=El+Messiri:wght@600&family=Monoton&family=Orbitron:wght@700&family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading_style {
  font-size: 2rem;
  font-family: "Blinker", sans-serif;

  /* font-family: "El Messiri", sans-serif; */
  letter-spacing: 1.5px;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(207, 202, 202);
  padding: 20px;
  margin: auto;
}
